<h1>Edit Goal</h1>

<form action="<%= goal_url(@goal) %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <%= render 'form', goal: @goal %>
  <input type="submit" value="Update Goal">
</form>
